{% extends 'basebackconstat.html.twig' %}

{% block list %}
    {% block stats %}
        Statistiques
        {% endblock %}
    <div id="div_chart"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(chart, 'div_chart') }}
    </script>
    <div>
    <canvas id="reclamations" width="400" height="150"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script>
        let reclamations = document.querySelector("#reclamations")
        let recGraph = new Chart(reclamations, {
            type: "bar",
            data: {

                labels: {{ dates|raw }},
                datasets: [{
                    label: "Nombre de réclamation",
                    data: {{ reclamationCount|raw }},
                    backgroundColor:'#99d6ff',

                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    </script>
    </div>
{% endblock %}
