{% extends 'basebackreclamation.html.twig' %}
{% block list %}
    <h1>Modifier Reclamation</h1>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_reclamation_index') }}">Retour</a>

{% endblock %}
