{% extends 'base.html.twig' %}
{% block body %}

          <a href="{{ path('addrapportfront') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 80px; position:relative ; top:100px;left:1300px w"></i></a>
<style> 
.row {
  --bs-gutter-x: -44.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
 
  width: 948px;
  margin-top:50px;
 margin-bottom: 255px;
}
</style>
<div class="row">
    <div id="div_chart"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(chart, 'div_chart') }}
    </script>
</div> 

{% endblock %}
