{% extends 'basebackconstat.html.twig' %}
{% block title %}
    <title>Gestion des Constats</title>
{% endblock %}
{% block list %}
    <h1>Modifier Constat</h1>

    {{ include('constat/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_constat_index') }}">Retour</a>

{% endblock %}
