{% extends 'basefrontconstat.html.twig' %}
{% block formadd %}
    <h1>Ajouter un constat</h1>

    {{ include('constat/_form.html.twig') }}

    <a href="{{ path('app_constat_index') }}">Retour</a>
{% endblock %}
