<form method="post" action="{{ path('app_constat_delete', {'id': constat.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce constat?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ constat.id) }}">
    <button class="btn"><img src="{{ asset('assets/img/delete.png') }}" height="30" width="30"></button>
</form>
