{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }} {# est une option que l'on peut ajouter à une balise HTML <form> pour désactiver la validation automatique HTML5 #}

{{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
